# Template file
# https://github.com/budimanjojo/talhelper/blob/master/example/talconfig.yaml
clusterName: rwcloud
talosVersion: ${talosVersion}
kubernetesVersion: ${kubernetesVersion}
endpoint: https://192.168.0.200:6443
# enable workers on your control plane nodes
allowSchedulingOnControlPlanes: true
clusterPodNets:
  - 10.42.0.0/16
  - 2001:db8:42::/56
clusterSvcNets:
  - 10.43.0.0/16
  - 2001:db8:43::/112
# patches:
#   - |-
#     # Patches go here

nodes:
  - hostname: terra
    controlPlane: true
    ipAddress: 192.168.0.201
    installDisk: /dev/nvme0n1
    #nodeLabels:
    #  type: proxmox
    nameservers:
      - 192.168.0.1
    machineSpec:
      mode: metal
      arch: amd64
    schematic:      
      customization:        
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools   
    # Set up the control plane nodes to provide a vip for the kubernetes api server
    # Documentation @ https://www.talos.dev/v1.9/talos-guides/network/vip/
    # Default setup is to use predictable interface names: https://www.talos.dev/v1.9/talos-guides/network/predictable-interface-names/
    # Different devices might need a different interface name: https://www.talos.dev/v1.9/talos-guides/network/device-selector/
    networkInterfaces:
      - interface: eno1
        dhcp: true
        vip:
          ip: 192.168.0.200
    userVolumes: &user-volumes
      - name: longhorn
        provisioning:
          diskSelector:
            match: disk.dev_path == "/dev/nvme0n1"
          minSize: 100GB
          grow: true
      - name: longhorn2
        provisioning:
          diskSelector:
            match: disk.dev_path == "/dev/nvme1n1"
          minSize: 100GB
          grow: true
    volumes: &volumes
      - name: EPHEMERAL
        provisioning:
          diskSelector:
            match: disk.dev_path == "/dev/nvme0n1"
          minSize: 50GiB
          maxSize: 50GiB
  - hostname: mars
    controlPlane: true
    ipAddress: 192.168.0.202
    installDisk: /dev/nvme0n1
    #nodeLabels:
    #  type: proxmox
    nameservers:
      - 192.168.0.1
    machineSpec:
      mode: metal
      arch: amd64
    schematic:      
      customization:        
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools   
    # Set up the control plane nodes to provide a vip for the kubernetes api server
    # Documentation @ https://www.talos.dev/v1.9/talos-guides/network/vip/
    # Default setup is to use predictable interface names: https://www.talos.dev/v1.9/talos-guides/network/predictable-interface-names/
    # Different devices might need a different interface name: https://www.talos.dev/v1.9/talos-guides/network/device-selector/
    networkInterfaces:
      - interface: eno1
        dhcp: true
        vip:
          ip: 192.168.0.200
    userVolumes: &user-volumes
      - name: longhorn
        provisioning:
          diskSelector:
            match: disk.dev_path == "/dev/nvme0n1"
          minSize: 100GB
          grow: true
      - name: longhorn2
        provisioning:
          diskSelector:
            match: disk.dev_path == "/dev/nvme1n1"
          minSize: 100GB
          grow: true
    volumes: &volumes
      - name: EPHEMERAL
        provisioning:
          diskSelector:
            match: disk.dev_path == "/dev/nvme0n1"
          minSize: 50GiB
          maxSize: 50GiB
  - hostname: luna
    controlPlane: true
    ipAddress: 192.168.0.203
    installDisk: /dev/nvme0n1
    #nodeLabels:
    #  type: proxmox
    nameservers:
      - 192.168.0.1
    machineSpec:
      mode: metal
      arch: amd64
    schematic:      
      customization:        
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools   
    # Set up the control plane nodes to provide a vip for the kubernetes api server
    # Documentation @ https://www.talos.dev/v1.9/talos-guides/network/vip/
    # Default setup is to use predictable interface names: https://www.talos.dev/v1.9/talos-guides/network/predictable-interface-names/
    # Different devices might need a different interface name: https://www.talos.dev/v1.9/talos-guides/network/device-selector/
    networkInterfaces:
      - interface: enp4s0
        dhcp: true
        vip:
          ip: 192.168.0.200
    userVolumes: &user-volumes
      - name: longhorn
        provisioning:
          diskSelector:
            match: disk.dev_path == "/dev/nvme0n1"
          minSize: 100GB
          grow: true      
    volumes: &volumes
      - name: EPHEMERAL
        provisioning:
          diskSelector:
            match: disk.dev_path == "/dev/nvme0n1"
          minSize: 50GiB
          maxSize: 50GiB